.publications .publication {
  margin-top: 1.5%;
}

.publication .section-1 .publication-date {
  font-family: "Ubuntu Mono", serif;
}

.publication .section-1 .publication-name {
  font-family: "Ubuntu Mono", serif;
}

.publication .section-2 {
  font-family: "Ubuntu Mono", serif;
  margin-top: -0.1%;
  margin-bottom: 0.5%;
}

.publication .section-3 {
  margin-top: -0.5%;
  font-family: "Ubuntu Mono", serif;
  text-decoration: none;
}

.publication .section-3 a {
  padding: 0.15%;
}

.publication .section-3 a:hover {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  border-radius: 50%;
  background-color: #d64933;
  color: white;
}

.publication .separator {
  margin-left: -1%;
}
